body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  img {
    height: 600px;
    width: 800px;
    border-radius: 20px;
  }

  h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 50px;
    text-decoration: underline;
  }

  img:hover {
    filter: grayscale(1);
    transition: 1s;
  }