body{
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    background-color: #363062;
}
h1{
    text-align: center;
    color: yellow;
    border: 1px wavy green;
}

.routine{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    background-color: #5da3fa;
    border: 2px solid black;
    padding: 10px;
}
div{
    padding: 20px 5px;
    border: 2px dotted black;
    background-color: #03c6c7;
    text-align: center;
}
.heading{
    font-weight: bold;
    font-size: large;
    padding: 40px 0px;
    background-color: #ff6666;
}
.bold{
    background-color: #8d3daf;
    font-weight: bold;
}
.colspan-end{
   grid-column-start: 7;
   grid-column-end: 9;
   background-color: #cad5e2;
}
.colspan-start{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: 
    #cad5e2;
}
.lunch{
    border: 0;
    font-weight: bold;
    font-size: larger;
    background-color: #edc126;
}
.text-green{
    background-color: #1faa59;
    font-weight: bold;
    font-size: larger;
}